@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar{
  width: 0.5rem;
}
html::-webkit-slider-thumb{
  background-color: grey;
}
html::-webkit-scrollbar-track{
  background: grey;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'EB Garamond',serif;
 user-select: none;
}
p {
  font-family: 'Roboto',sans-serif;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

.service-item {
  flex: 1;
  text-align: center;
  min-width: 300px; 
  margin-top: 20px;
  margin-bottom: 3rem;
  margin-right: 3rem;
  border: .2rem solid #0ef;
  border-radius: 1rem;
  transition: transform 450ms;
 }
.service-item:hover {
  transform: scale(1.08);
  opacity: 1;
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
